@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: lightgray;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.logo h1 {
  color: #fff;
}

.nav-bar {
  box-shadow: 0px 3px 10px #464646;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #23232e;
  height: 8vh;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-item {
      display: none;
  }

  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .mobile-menu {
    
  }

  .mobile-menu ul {
    top: 8vh;
    width: 50vw;
    height: 50vh;
    transform: translateX(100%);
    list-style: none; 
    align-items: center;
    background-color: blue;
  }

  .mobile-menu li {
    justify-items: center;
    text-align: center;
    background-color: red;
  }

  .open {
    display: block;
  }
}
