@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Roboto:ital,wght@0,100;0,400;0,700;1,100&family=Satisfy&family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --text-u:'Ubuntu Mono', sans-serif;
  --text-s:'Satisfy';
  --text-c:'Catamaran', sans-serif;

  --bg-color: #121315;
  --bg-color-2: #061F40;
  --color-white: #EBF2FA;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  font-family: var(--text-u);
  font-size: 62.5%;
  position: relative;
}

p {
  font-family: var(--text-u);
  font-weight: 400;
  line-height: 150%;
}
a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
}

div#luz-1 {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 100vw;
}

div#luz-1 svg {
  width: 100%;
}

div#luz-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100vw;
}

div#luz-2 svg {
  width: 100%;
}

div#luz-3 {
  position: absolute;
  right: 0;
}

div#luz-3 svg {
  width: 100%;
}

div#onda-1 {
  position: absolute;
  width: 100%;
  bottom: -20vh;
}

div#onda-2 {
  position: absolute;
  width: 100%;
  bottom: -20vh;
}

div#onda-3 {
  position: absolute;
  width: 100%;
  bottom: -20vh;
}

header a {
  letter-spacing: 4px;
  transition: 0.3s;
  font-size: 1.8em;
}

a:hover {
  opacity: 0.7;
}

header {
  display: flex;
}

/* Button Para o Topo */

#btnTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--bg-color-2-dark);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

.arrow {
  border: solid var(--color-white);
  border-width: 0 5px 5px 0;
  padding: 5px;
  display: inline-block;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* -----------BTN TOP------------ */


.logo a {
  text-transform: lowercase;
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  letter-spacing: 4px;
}

.nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: lowercase;
  height: 10vh;
  width: 100vw;
  right: 0;
  z-index: 9;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 20px;
  height: 2px;
  background: var(--color-white);
  margin: 6px;
  transition: 0.3s;
}

section.home {
  display: flex;
  height: 90vh;
  position: relative;
}


aside img {
  max-width: 30vw;
}

aside.text-home {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin: auto;
}

.text-hi {
  font-family: var(--text-s);
  color: var(--color-white);
  font-size: 3em;
}

.home h1 {
  color: var(--color-white);
  font-family: var(--text-c);
  font-weight: bold;
  font-size: max(60px, 6vw);
  letter-spacing: 10px;
  line-height: 100px;
  transition: 0.3s;
  cursor: default;
}

h1:hover {
  color: var(--bg-color-2);
}

.text-frontend {
  color: var(--color-white);
  font-family: var(--text-u);
  font-weight: 300;
  font-size: 4.5em;
}

.about {
  background-color: var(--bg-color-2);
  height: 100vh;
  display: flex;
  text-align: center;
  position: relative;
}

div.box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--bg-color-dark);
  width: 60vw;
  height: 50vh;
  margin: auto;
  border-radius: 50px;
  padding: 50px;
}

.text-about {
  color: var(--color-white);
  text-align: justify;
  font-size: 1.5em;
  font-family: var(--text-u);
  margin-right: 20px;
  line-height: 25px;
}

.text-about h1 {
  margin: 0 0 24px 24px;
  font-weight: 700;
  font-style: italic;
}

.box-inside {
  display: flex;
}

.img {
  width: 250px;
  height: 250px;
  position: absolute;
}

.svg {
  width: 270px;
}

.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: var(--color-white);
}

.card-content {
  height: 250px;
  justify-content: space-between;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.card-content p {
  text-align: justify;
  line-height: 110%;
  font-family: var(--text-u);
  font-weight: 400;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-2);
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: var(--bg-color-2);
}

.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: var(--color-white);
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 3px;
}

.card-img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--color-white);
}

.name {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 14px;
}

.description {
  font-size: 1.8em;
}

.button {
  border: none;
  font-size: 1.5em;
  color: var(--color-white);
  padding: 8px 16px;
  background-color: var(--bg-color-2);
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: 0.3s ease
}

.button a:hover {
  opacity: 1;
}

.button:hover {
  background-color: var(--bg-color);
}

.swiper-navBtn {
  color: var(--bg-color-2);
  transition: color 0.3s;
}

.swiper-navBtn:hover {
  color: var(--color-white);
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: var(--bg-color-2);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--bg-color-2);
}

.contact {
  background-color: var(--bg-color-2);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#div-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: var(--bg-color-dark);
  width: 60vw;
  height: 50vh;
  margin: auto;
  border-radius: 50px;
  padding: 50px;
}

.contact p {
  font-size: 1rem;
  color: var(--color-white);
  line-height: 20px;
}

.contact h1 {
  color: var(--color-white);
  text-align: justify;
  font-size: 3rem;
  font-family: var(--text-u);
  margin: 20px 0px;
}

.contact a {
  color: var(--bg-color);
  background-color: var(--color-white);
  margin-top: 20px;
  font-size: 1.5rem;
  padding: 5px;
  border: 3px solid var(--color-white);
  border-radius: 8px;

  transition: 400ms;
}

.contact a:hover {
  background-color: var(--bg-color-2);
  color: var(--color-white);
  opacity: 1;
}

@media screen and (max-width: 1540px) {
  div#onda-1, div#onda-2, div#onda-3 {
  bottom: -15vh;
}
}

@media screen and (max-width: 1200px) {
  div#onda-1, div#onda-2, div#onda-3 {
  bottom: -10vh;
}
}

@media screen and (max-width: 768px) {
  div#onda-1, div#onda-2, div#onda-3 {
  bottom: -5vh;
  }

  #btnTop {
    display: flex;
  }

  .logo {
    display: none;
  }

  aside.svg-lap{
    display: none;
  }

  a#liHome {
    background: transparent;
    color: var(--color-white)
  }

  .nav2 {
    display: flex;
    justify-content: flex-end;
    margin: 20px 20px 0px 0px;
    position: fixed;
    right: 0;
    min-width: 50px;
    height: 50px;
    z-index: 9;
    background: transparent;
  }

  .nav-list {
    position: fixed;
    margin: 0px;
    top: 0px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #12131594;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-150%);
    transition: transform 0.5s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block; 
  }

  section.home {
    height: 100vh;
  }

  aside.text-home {
    width: 70vw;
  }

  .text-hi {
    font-size: max(20px, 2vw);
    text-align: left;
  }

  .home h1 {
    font-family: var(--text-c);
    font-weight: bold;
    font-size: max(40px, 8vw);
    letter-spacing: 8px;
    line-height: 45px;
    text-align: left;
  }

  .text-frontend {
    font-size: max(20px, 2vw);
    text-align: left;
  }

  div.box {
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 90vw;
    padding: 0;
  }

  .text-about {
    margin: 20px 15px;
  }

  .img {
    width: 150px;
    height: 150px;
  }

  .svg {
    width: 165px;
  }

  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }

  #div-contact {
    height: 50vh;
    width: 90vw;
  }

  .contact p {
    font-size: max(15px, 2vw);
    text-align: justify;
  }
  
  .contact h1 {
    font-size: max(20px, 2vw);
  }
  
  .contact a {
    font-size: max(15px, 2vw);
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
